@import "tailwindcss";

.instaClone {
  font-family: cursive;
  padding-top: 40px;
  font-size: 40px;
}

.loginInput {
  background-color: rgba(231, 224, 224, 0.1);
  border: 1px solid rgba(199, 196, 196, 0.2);
  margin-top: 10px;
  height: 35px;
  width: 280px;
  border-radius: 2px;
}

.loginButton {
  width: 280px;
  height: 35px;
  background-color: rgb(8, 137, 243);
  margin-top: 15px;
  align-self: center;
  color: white;
  padding: 0;
}

.buttonDisabled {
  width: 280px;
  height: 35px;
  background-color: rgb(8, 137, 243);
  margin-top: 15px;
  align-self: center;
  color: white;
  padding: 0;
  pointer-events: none;
  opacity: 0.5;
}
